<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let newslist of news?.articles">
    <ion-item>
      <img *ngIf="newslist.urlToImage" [src]="newslist.urlToImage">
    </ion-item>

    <ion-card-content ng>
      <ion-card-title>{{newslist.title}}</ion-card-title>
      <ion-row>
        <ion-col right text-right>
          <button ion-button block clear (click)="openWebpage(newslist.url)">ブラウザで続きを読む</button>
        </ion-col>
      </ion-row>
      <p *ngIf="newslist.description">{{newslist.description}}</p>
    </ion-card-content>


    <ion-row>
      <ion-col center text-center>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-start clear small (click)="postArticle()">
          <ion-icon name="text"></ion-icon>
          <div>このニュースのメモを取る</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-start clear small disabled>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <div>
          {{newslist.publishedAt | date: 'longDate'}}
        </div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-start clear small disabled>
          <div>
            {{newslist.source.name }}
          </div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
